body {
    background-color: lightgray !important
    }

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    }
    th, td:first-child {
    background: #333333;
    color: white;
    padding: 10px 20px;
    }
    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: gray;
    color: white;
    }
    td {
    background: #333333;
    }
    th:first-child, td:first-child {
    text-align: left;
}

.nav-buttons {
    margin-top: 15px;
}

.add {
    display: none;
    margin-top: 20px;
}
 
.update {
    display: none;
    margin-top: 20px;
}

.update input {
    margin: 5px;
}

.update select {
    margin: 5px;
    width: 185.6px;
    height: 30px;
}

.update .btn {
    margin: 5px;
}

.add input {
    margin: 5px;
}

.add select {
    margin: 5px;
    width: 185.6px;
    height: 30px;
}

.add .btn {
    margin: 5px;
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .wrapper {
      margin-top: 20px;
  }