table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    }
    th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
    }
    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    }
    td {
    background: #D8E6F3;
    }
    th:first-child, td:first-child {
    text-align: left;
}

.nav-buttons {
    margin-top: 15px;
}

.add {
    display: none;
    margin-top: 20px;
}
 
.update {
    display: none;
    margin-top: 20px;
}

.update input {
    margin: 5px;
}

.update select {
    margin: 5px;
    width: 185.6px;
    height: 30px;
}

.update .btn {
    margin: 5px;
}

.add input {
    margin: 5px;
}

.add select {
    margin: 5px;
    width: 185.6px;
    height: 30px;
}

.add .btn {
    margin: 5px;
}