<table>
    <tr>
      <th></th>
      <% @all_suppliers.each do |supplier| %>
        <th><%= supplier.name %></th>
      <% end %>
    </tr>
     <tr>
      <td>Представитель</td>
      <% @all_suppliers.each do |supplier| %>
        <td><%= supplier.agent %></td>
      <% end %>
     </tr>
     <tr>
      <td>Номер представителся</td>
      <% @all_suppliers.each do |supplier| %>
        <td><%= supplier.agent_phone %></td>
      <% end %>
     </tr>
     <tr>
      <th></th>
      <% @all_suppliers.each do |supplier| %>
        <th><input id=<%= supplier.id %> class="user-checkbox" type="checkbox"></th>
      <% end %>
     </tr>
</table>
<div class="nav-buttons">
  <button class="btn btn-primary append-new-supplier" type="submit">Добавить</button>
  <button class="btn btn-primary update-supplier">Редактировать</button>
  <button class="btn btn-primary delete-supplier">Удалить</button>
</div>
<div class="add">
  <input type="text" class="supplier-name"> - "Имя поставщика"<br />
  <input type="text" class="supplier-agent"> - "Представитель"<br />
  <input type="text" class="supplier-phone"> - "Телефон представителя"<br />
  <button class="btn btn-success add-new-supplier" type="submit">Добавить</button>
</div>
<div class="update">
  <input type="text" class="u_supplier-name"> - "Имя поставщика"<br />
  <input type="text" class="u_supplier-agent"> - "Представитель"<br />
  <input type="text" class="u_supplier-phone"> - "Телефон представителя"<br />
  <button class="btn btn-success update-old-supplier" type="submit">Обновить</button>
</div>